<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Drop{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js"></script>
    <link rel="icon" href="/static/ic.ico" type="image/x-icon">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/">Drop</a>
            </div>
        </div>
    </header>

    <main>
        {% block main %}
        <div class="container">
            <div class="upload-container">
                <button class="upload-button" onclick="triggerFileInput()">Загрузить файл</button>
                <input type="file" id="file-input" style="display: none;" onchange="uploadFile()"/>  
                <div id="loading-message" class="loading-message" style="display: none;">
                    Идет загрузка...
                </div>
                
            </div>
            <a href="#" class="terms-privacy" onclick="openTermsModal()">Условия использования и конфиденциальность</a>
            <span class="file-large">Файл не должен превышать 100мб.</span>
        

            <div class="file-list">
                {% for file in user_files %}
                    <div class="file-item">
                        <div class="file-info">
                            <div class="file-header">
                                <h3>{{ file.filename }}</h3>
                                <div class="file-icons">
                                    <button class="action-button delete-button" title="Удалить" data-file-id="{{ file.id }}"></button>
                                    <a style="text-decoration: none;" target="_blank" href="{{ file.url }}">
                                        <button class="action-button link-button" title="Перейти к файлу"></button>
                                    </a>
                                </div>
                            </div>
                            <div class="file-copy">
                                <input type="text" class="file-url-input" id="file-url-{{ file.name }}" value="https://dropfun.space/{{ file.url }}" readonly />
                                <button class="copy-button" onclick="copyToClipboard('file-url-{{ file.name }}')">Скопировать</button>

                            </div>
                            <p>{{ file.upload_date.strftime('%d.%m.%Y %H:%M:%S') }}</p>
                            <p>{{ file.content_type }}</p>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="modal-terms" class="modal-terms">
            <div class="modal-content-terms">
                <h2>Условия использования</h2>
                <ul>
                    <li><strong>1. Пользовательский контент:</strong> Мы не несем ответственности за пользовательский контент.</li>
                    <li><strong>2. Возрастные ограничения:</strong> Этот сервис предназначен для пользователей, достигших 18-летнего возраста.</li>
                    <li><strong>3. Обзор контента:</strong> Мы можем просматривать любой контент.</li>
                    <li><strong>4. Запрещенный контент:</strong> Не отправляйте незаконный или вредоносный контент.</li>
                    <li><strong>5. Ответственность:</strong> Вы несете ответственность за отправляемый вами контент и любой причиненный в результате ущерб.</li>
                    <li><strong>6. Удаление контента:</strong> Мы можем удалить Контент в любое время, если он нарушает условия сервиса.</li>
                    <li><strong>7. Прекращение действия:</strong> Мы можем прекратить ваш доступ в любое время.</li>
                </ul>

                <h2>Политика конфиденциальности</h2>
                <ul>
                    <li><strong>1. Сбор данных:</strong> Мы собираем и храним минимум данных, включая ваш IP-адрес.</li>
                    <li><strong>2. Безопасность данных:</strong> Мы принимаем соответствующие меры для защиты ваших данных от несанкционированного доступа.</li>
                    <li><strong>3. Права пользователя:</strong> Вы имеете право запросить информацию о своих данных и запросить их удаление.</li>
                </ul>

                <p>Использование вами Сервиса подразумевает принятие настоящих Условий и Политики конфиденциальности.</p>
                <p>Мы оставляем за собой право вносить изменения в настоящие Условия и Политику конфиденциальности в любое время без предварительного уведомления.</p>
                <p><strong>Обновлено:</strong> 17.09.2024</p>

                <button class="confirm-button" onclick="closeTermsModal()">Подтверждаю</button>
            </div>
        </div>

        <div id="modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close-button" onclick="closeModal()">&times;</span>
                <h2>Подтверждение удаления</h2>
                <p>Вы уверены, что хотите удалить этот файл?</p>
                <div class="modal-actions">
                    <button class="confirm-button" onclick="confirmDeletion()">Удалить</button>
                    <button class="cancel-button" onclick="closeModal()">Отменить</button>
                </div>
            </div>
        </div>

        
 
        {% if total_pages > 1 %}
        <div class="pagination">
        
            {% if current_page > 1 %}
                <a href="/?page={{ current_page - 1 }}" class="pagination-button prev-button">Предыдущая</a>
            {% endif %}

            
            <a href="/?page=1" class="pagination-button {% if current_page == 1 %}active{% endif %}">1</a>

           
            {% if current_page > 4 %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}

            {% for page_num in range(current_page - 1, current_page + 2) if page_num > 1 and page_num < total_pages %}
                <a href="/?page={{ page_num }}" class="pagination-button {% if page_num == current_page %}active{% endif %}">
                    {{ page_num }}
                </a>
            {% endfor %}

            {% if current_page < total_pages - 3 %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}


            <a href="/?page={{ total_pages }}" class="pagination-button {% if current_page == total_pages %}active{% endif %}">
                {{ total_pages }}
            </a>

            {% if current_page < total_pages %}
                <a href="/?page={{ current_page + 1 }}" class="pagination-button next-button">Следующая</a>
            {% endif %}
        </div>
        {% endif %}

        {% endblock %}
    </main>
    
    {% block scripts %}
        <script src="/static/js/base.js"></script>
    {% endblock %}
</body>
</html>
