<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}DropIt{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/">Drop It</a>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="upload-container">
                <button class="upload-button" onclick="triggerFileInput()">Загрузить файл</button>
                <input type="file" id="file-input" style="display: none;" onchange="uploadFile()"/>  
                <div id="loading-message" class="loading-message" style="display: none;">
                    Идет загрузка...
                </div>
            </div>
            
            <div class="file-list">
                {% for file in user_files %}
                    <div class="file-item">
                        <div class="file-info">
                            <div class="file-header">
                                <h3>{{ file.filename }}</h3>
                                <div class="file-icons">
                                    <button class="action-button delete-button" title="Удалить"></button>
                                    <a style="text-decoration: none;" target="_blank" href="{{ file.url }}">
                                        <button class="action-button link-button" title="Перейти к файлу"></button>
                                    </a>
                                </div>
                            </div>
                            <div class="file-copy">
                                <input type="text" class="file-url-input" value="{{ file.url }}" readonly/>
                                <button class="copy-button" onclick="copyToClipboard('{{ file.url }}')">Скопировать</button>
                            </div>
                            <p>{{ file.upload_date.strftime('%d.%m.%Y %H:%M:%S') }}</p>
                            <p>{{ file.content_type }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            {% block content %}
            {% endblock %}
        </div>
    </main>
    
    {% block scripts %}
        <script src="/static/js/base.js"></script>
    {% endblock %}
</body>
</html>
