{% extends "base.html" %}

{% block title %}{{ file.url }}{% endblock %}

{% block main %}
<div class="container">
    {% block content %}
    <div class="file-display-open" style="display: flex; flex-direction: column; align-items: center; min-height: 80vh;">
        {% if file.content_type.startswith('image/') %}
            <img src="{{ file_url }}" alt="{{ file.filename }}" style="width: auto; max-width: 100%;">
        {% elif file.content_type.startswith('video/') %}
            <video controls style="width: auto; max-width: 100%; height: auto;">
                <source src="{{ file_url }}" type="{{ file.content_type }}">
                Your browser does not support the video tag.
            </video>
        {% elif file.content_type.startswith('audio/') %}
            <audio controls style="max-width: 100%;">
                <source src="{{ file_url }}" type="{{ file.content_type }}">
                Your browser does not support the audio element.
            </audio>
        {% else %}
            <p>Неизвестный тип файла.</p>
        {% endif %}
        <span style="text-align: left; color: #eda64b; margin-top: 15px;">Дата загрузки: {{ file.upload_date.strftime('%d.%m.%Y %H:%M') }}</span>
        <div class="button-group-open" style="margin-top: 20px;">
            <a href="{{ download_url }}" class="btn-open btn-primary-open" download="{{ file.filename }}">Скачать файл</a>
            <button class="btn-open btn-danger-open" onclick="openModal('{{ file.id }}')">Пожаловаться</button>
        </div>
        {% if is_admin %}
            <button style="margin-top: 15px;" class="btn-open btn-danger-open" onclick="deleteFile('{{ file.id }}')">Удалить файл</button>
        {% endif %}
    </div>
    {% endblock %}
</div>

<div id="reportModal-open" class="modal-open" style="display:none;">
    <div class="modal-content-open">
        <p>Вы уверены, что хотите отправить жалобу?</p>
        <p>В случае если контент нарушает правила сервиса, то файл будет удален</p>
        <div class="modal-buttons-open">
            <button id="confirmReport" class="btn-open btn-danger-open">Отправить жалобу</button>
            <button onclick="closeModal()" class="btn-open btn-secondary-open">Отменить</button>
        </div>
    </div>
</div>

<script defer src="/static/js/file.js"></script>
{% endblock %}
