<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/ic.ico" type="image/x-icon">
    <title>{{file.filename}}</title>
</head>
<body>
    <div class="container">
        {% block content %}
        <div class="file-display-open" style="display: flex; flex-direction: column; align-items: center; min-height: 80vh;">
            {% if file.content_type.startswith('image/') %}
                <img src="{{ file_url }}" alt="{{ file.filename }}" class="responsive-media">
            {% elif file.content_type.startswith('video/') %}
                <video autoplay controls class="responsive-media">
                    <source src="{{ file_url }}" type="{{ file.content_type }}">
                    Your browser does not support the video tag.
                </video>
            {% elif file.content_type.startswith('audio/') %}
                <audio autoplay controls style="max-width: 100%;">
                    <source src="{{ file_url }}" type="{{ file.content_type }}">
                    Your browser does not support the audio element.
                </audio>
            {% else %}
                <p>Неизвестный тип файла.</p>
            {% endif %}
        </div>
        {% endblock %}
    </div>
    <style>
        body {
            background-color: #333;
        }
        .responsive-media {
            max-width: 100%;
            max-height: 80vh;
            width: auto;
            height: auto;
        }
    </style>
</body>

</html>
