/* Основа */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #f5f5f5;
}

header {
    background-color: #1f1f1f;
    padding: 10px;
    border-bottom: 2px solid #444;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo {
    font-family: 'Handjet', cursive;
    font-size: 2em;
    font-weight: 700;
    color: #eda64b;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-align: left;
}

.logo a {
    color: inherit;
    text-decoration: none;
}

.logo a:hover {
    color: #ff79c6;
}

main {
    padding: 20px 0;
}

.upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.upload-button {
    font-size: 16px;
    color: white;
    background-color: #121212;
    border: 2px solid #eda64b;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
    margin-right: 40px;
}


@media (hover: hover){
    .upload-button:hover {
        transform: scale(1.05);
        background-color: #444;
    }
}

@media (hover: none){
    .upload-button:active {
        transform: scale(1.05);
        background-color: #444;
    }
}


@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .logo {
        font-size: 1.5em;
    }

    .upload-button {
        font-size: 14px;
        padding: 8px 16px;
        margin: 0px 8px;
        margin-right: 30px;
    }
    .file-list{
        margin: 0px 10px;
    }
    .file-large {
        margin: 0px 10px;
        font-size: 14px;
    }

}

/* Условия и конфиденциальность */
.modal-terms {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-terms {
    background-color: #1f1f1f;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #f5f5f5;
}

.modal-content-terms h2 {
    color: #eda64b;
}

.modal-content-terms ul {
    list-style-type: none;
    padding: 0;
}

.modal-content-terms ul li {
    margin-bottom: 10px;
}

.modal-content-terms .confirm-button {
    background-color: #eda64b;
    color: #1f1f1f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.modal-content-terms .confirm-button:hover {
    background-color: #ff79c6;
}

.terms-privacy {
    color: #eda64b;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 10px;
}

.file-large{
    margin-top: 10px;
    display: block;
}

.terms-privacy:hover {
    color: #ff79c6;
    text-decoration: underline;
}

.terms-privacy:visited {
    color: #eda64b;
}

.terms-privacy:active {
    color: #eda64b;
}

@media (max-width: 768px) {
    .modal-content-terms {
        width: 85%;
        padding: 10px;
    }

    .modal-content-terms h2 {
        font-size: 1rem;
    }

    .modal-content-terms ul li {
        font-size: 0.85rem;
    }

    .modal-content-terms .confirm-button {
        padding: 8px;
        font-size: 0.9rem;
    }
    .terms-privacy{
        padding: 10px;
        font-size: 14px;
    }
}

/* Анимация загрузки */
.loading-message {
    font-size: 16px;
    color: #eda64b;
    margin-top: 20px;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

@media (max-width: 768px) {
    .loading-message {
        margin-bottom: 17px;
        font-size: 14px;
    }

}


/* Вывод файлов */
/* Список файлов */
.file-list {
    margin-top: 40px;
}

.file-item {
    position: relative; 
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    max-width: 400px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.file-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.file-info h3 {
    flex: 1;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #eda64b;
    white-space: nowrap;
}

.file-icons {
    display: flex;
    gap: 5px;
}
.file-info p {
    margin: 5px 0;
    font-size: 12px;
}

.file-info a {
    color: #ff79c6;
    text-decoration: none;
}

.file-info a:hover {
    text-decoration: underline;
}

.file-url-input {
    margin-top: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: #f5f5f5;
    font-size: 12px;
    outline: none;
    transition: border-color 0.3s ease;
}

.file-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.file-url-input {
    background-color: transparent;
    border: 2px solid #eda64b;
    border-radius: 5px;
    padding: 5px 10px;
    color: #f5f5f5;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.copy-button {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: #f5f5f5;
    background-color: transparent;
    border: 2px solid #eda64b;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.copy-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #eda64b;
}

.copy-button:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ff79c6;
    border-color: #ff79c6;
}



.action-button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30%;
    padding: 2px;
    font-size: 12px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
    background-color: gray;
    color: #121212;
}

.delete-button, .link-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button::before {
    content: "🗑️";
}

.link-button::before {
    content: "➜";
}

/* Модальное окно */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Контент модального окна */
.modal-content {
    background-color: #1f1f1f;
    color: #f5f5f5;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

/* Кнопка закрытия окна */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

/* Кнопки подтверждения и отмены */
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.confirm-button {
    background-color: #eda64b;
    color: #121212;
}

.cancel-button {
    background-color: #eda64b;
    color: #121212;
}

.cancel-button:hover {
    background-color: #866336;
}

.confirm-button:hover {
    background-color: #866336;
}

/* Адаптация под мобильные устройства */
@media (max-width: 600px) {

    .modal-content {
        width: 80%;
        margin: 40% auto;
        padding: 15px;
    }

    .modal-content h2 {
        font-size: 16px;
    }

    .modal-content p {
        font-size: 14px;
    }

    .confirm-button, .cancel-button {
        width: 40%;
        margin-top: 10px;
        font-size: 14px;
    }

    .close-button {
        font-size: 24px;
        top: 5px;
        right: 20px;
    }
    .file-icons {
        margin-left: 15px;
    }
}



/* просмотр файла */
/* Стили для кнопок */
.btn-open {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary-open {
    background-color: #eda64b;
    color: white;
}

.btn-primary-open:hover {
    background-color: #866336;
}

.btn-danger-open {
    background-color: #dc3545;
    color: white;
}

.btn-danger-open:hover {
    background-color: #c82333;
}

.btn-secondary-open {
    background-color: #6c757d;
    color: white;
}

.btn-secondary-open:hover {
    background-color: #5a6268;
}

/* Стили для модального окна */
.modal-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-open {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-buttons-open {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Стили для контейнера и группы кнопок */
.container-open {
    width: 100%;
    padding: 50px;
}

.button-group-open {
    display: flex;
    gap: 10px;
}

.btn-open {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .modal-content-open {
        padding: 15px;
        font-size: 14px;
        margin: 0 10px;
        max-width: calc(100% - 20px);
    }
}



/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pagination-button {
    background-color: #eda64b;
    color: #444;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination-button.active {
    background-color: #ff79c6;
}

.pagination-button:hover {
    background-color: #ff79c6;
}

.pagination-ellipsis {
    margin: 0 5px;
    color: #f5f5f5;
}

/* Мобильная версия пагинации */
@media (max-width: 768px) {
    .pagination-button {
        padding: 5px 10px;
        font-size: 14px;
    }

    .prev-button::before {
        content: '←';
        font-size: 14px;
    }

    .next-button::before {
        content: '→';
        font-size: 14px;
    }

    .prev-button {
        padding: 3px 10px;
    }

    .next-button {
        padding: 3px 10px;
    }

    .prev-button, .next-button {
        font-size: 0;
    }

    .prev-button::before, .next-button::before {
        font-size: 14px;
    }
}